body {
  font-size: 2rem;
  font-family: monospace;
}

main {
  background-color: aqua;
}

p {
  background-color: lightgreen;
}

.opposite {
  display: inline-block;
  background-color: #333;
  color: whitesmoke;
  padding: 3rem;
}

ul {
  list-style-type: none;
  padding: 0.5rem;
  text-align: right;
  background-color: black;
  margin: 0;
}

li {
  display: inline-block;
  margin-inline: 0.5rem;
  color: white;
}
