body {
  font-size: 2rem;
  font-family: monospace;
}

main {
  background-color: aqua;
}

.block {
  width: 30vw;
  height: 30vw;
  background-color: black;
  color: white;
  padding: 1rem;
}

.left {
  float: left;
  margin-right: 1rem;
}

.right {
  float: right;
  margin-right: 1rem;
}

.clear {
  clear: both;
}
